<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>WebhookIt - <%- title || "" %></title>
  <meta name="author" lang="en" content="Eric Abouaf" />
  <meta name="copyright" content="Copyright 2011 Eric Abouaf" />

<link rel="stylesheet" type="text/css" href="/javascripts/yui/reset-fonts/reset-fonts.css">
<link rel="stylesheet" type="text/css" href="/javascripts/yui/assets/skins/sam/skin.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="/javascripts/inputex/css/inputEx.css">

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/favicon.ico" sizes="32x32" />

<script src="/javascripts/yui/utilities/utilities.js"></script>

</head>
<body class="yui-skin-sam">
<div id="doc3" class="yui-t7">
   <div id="hd">
     <h1>WebHookIt</h1>
		<% if(typeof current_user != "undefined") { %>
    
     <span id="username">Welcome, <%= current_user.name %></span>
     <div id="nav">
     <ul>
        <li<% if(action == "dashboard") { %> class="current"<% } %>><a href="/dashboard">DASHBOARD</a></li>
				<li<% if(action == "wirings") { %> class="current"<% } %>><a href="/wirings">WIRINGS</a></li>
				<li<% if(action == "users") { %> class="current"<% } %>><a href="/users">USERS</a></li>
				<li<% if(action == "tools") { %> class="current"<% } %>><a href="/tools">TOOLS</a></li>
				<li><a href="/editor">EDITOR</a></li>
				<li><a href="/sessions/logout">SIGN OUT</a></li>
			</ul>
			</div>
			<% } %>
     
   </div>
   <div id="bd">
	   <div class="yui-g">
	     <div class="pagewidth">
	      <!-- YOUR DATA GOES HERE -->
	      <%- body %>
	     </div>
	   </div>
	</div>
  <div id="ft">
    <div class="pagewidth">
      <hr />
      <a href="http://neyric.github.com/webhookit/" target="_blank">About WebHookIt</a> | <a href="https://github.com/neyric/webhookit/wiki" target="_blank">Wiki</a> | <a href="https://github.com/neyric/webhookit/issues" target="_blank">Issues</a> | <a href="http://neyric.com/category/projects/webhookit/" target="_blank">Blog</a>
      
      <p id="copyright">Copyright &copy; 2011 Eric Abouaf. All rights reserved.</p>
     </div>
  </div>
</div>	
</body>
</html>