<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WebhookIt - <%- title || "" %></title>
    <meta name="description" content="TODO">
    
    <meta name="author" lang="en" content="Eric Abouaf" />
    <meta name="copyright" content="Copyright 2011-2012 Eric Abouaf" />
    
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    
    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">

<script src="http://yui.yahooapis.com/3.5.0pr1/build/yui/yui.js"></script>
<script type="text/javascript" src="/wireit/src/loader.js"></script>
<script type="text/javascript" src="/inputex/src/loader.js"></script>
<script>
YUI_config.groups.wireit.base = '/wireit/src/';
YUI_config.groups.inputex.base = '/inputex/src/';
</script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <!--link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"-->
  </head>

  <body class="yui3-skin-sam">

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">WebHookIt</a>
          <ul class="nav">
            <li <% if(action == "home") { %> class="active"<% } %>><a href="/">Home</a></li>
            
            <% if(typeof current_user != "undefined") { %>
                <li<% if(action == "dashboard") { %> class="active"<% } %>><a href="/dashboard">Dashboard</a></li>
                <li<% if(action == "wirings") { %> class="active"<% } %>><a href="/wirings">Wirings</a></li>
                <li<% if(action == "users") { %> class="active"<% } %>><a href="/users">Users</a></li>
                <li<% if(action == "tools") { %> class="active"<% } %>><a href="/tools">Tools</a></li>
                <li<% if(action == "editor") { %> class="active"<% } %>><a href="/wirings/new">Editor</a></li>
            <% } %>
            <li<% if(action == "doc") { %> class="active"<% } %>><a href="/doc">Documentation</a></li>
          </ul>
          
          
          <% if(typeof current_user != "undefined") { %>
            <p class="pull-right">Logged in as <a href="#"><%- current_user.name %></a>, <a href="/sessions/logout">sign out</a></p>
          <% } else { %>
          <form action="/sessions/signin" method="post" class="pull-right">
            <input class="input-small" type="text" name="username" placeholder="Username">
            <input class="input-small" type="password" name="pass" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
          <% } %>
          
        </div>
      </div>
    </div>
    
    <%- body %>
    
    <div class="container">
      <footer>
        <p>&copy; 2011-2012 Eric Abouaf. All rights reserved.</p>
      </footer>
    </div>
    
  </body>
</html>

