
<h1>Dashboard</h1>

<table class="dashboard_table">
  <tr>
    <td width="50%">
      <a id="new-wiring-button" href="/editor">NEW WIRING +</a>
      <h2>Latest Wirings</h2>
      <hr />
      <div class="wiring-list">
        <% if(wirings.length > 0) { %>
      		<%- partial('../partials/wiring', { collection: wirings, small: true }) %>	
      	<% } else { %>
      	  <p style="margin: 20px 0;">no wiring yet. <a href="/editor">Go create one !</a></p>
      	<% } %>
      </div>
      
      <a href="/users/<%= user.name %>" class="show_all">Show All My Wirings</a>
      
    </td>
    <td width="50%">
      
      <h2>Activity Feed</h2>
      <hr />
      
      <div id="activity_list">
    		<%- partial('../partials/activity', { collection: activities, small: true }) %>
    	</div>
      
      <a href="/activities" class="show_all">See all activities</a>
      
    </td>
  </tr>
  <tr>
    <td>
      <%- partial('../partials/tools') %>
    </td>
    <td>
      <h2>News</h2>
      <hr />
      <script src="http://l.yimg.com/a/i/us/pps/listbadge_1.4.js">{"pipe_id":"8fb67f5896ccddc9b4333d90cce2cebd","_btype":"list"}</script>
      
    </td>
  </tr>
</table>
    