<div class="container">
  
  <h1>Dashboard</h1>

  <div class="row">
  
    <div class="span8">

        <h2>Latest Wirings</h2>
        <hr />
        <div class="wiring-list">
          <% if(wirings.length > 0) { %>
        		<%- partial('../partials/wiring', { collection: wirings, small: true }) %>	
        	<% } else { %>
        	  <p>no wiring yet. <a href="/wirings/new">Go create one !</a></p>
        	<% } %>
        </div>
      
        <a class="btn primary" href="/wirings/new">New</a>
      
        <a href="/users/<%= user.name %>" class="btn">Show All</a>
      
    </div>
    
    <div class="span8">
      
        <h2>Activity Feed</h2>
        <hr />
      
        <div id="activity_list">
      		<%- partial('../partials/activity', { collection: activities, small: true }) %>
      	</div>
      
        <a href="/activities" class="btn">See all activities</a>
      
      
      </div>
  </div>


  <div class="row" style="margin-top: 40px;">
  
    <div class="span8">
        <%- partial('../partials/tools') %>
    </div>    
    <div class="span8">
        <h2>News</h2>
        <hr />
        <script src="http://l.yimg.com/a/i/us/pps/listbadge_1.4.js">{"pipe_id":"8fb67f5896ccddc9b4333d90cce2cebd","_btype":"list"}</script>
    </div>
  </div>

</div>