<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Webhookit - Editor</title>
	<link rel="icon" href="/favicon.ico" type="image/png" />
 	<link rel="shortcut icon" href="/favicon.ico" type="image/png" />

<link rel="stylesheet" type="text/css" href="/javascripts/yui/reset-fonts-grids/reset-fonts-grids.css">
<link rel="stylesheet" type="text/css" href="/javascripts/yui/assets/skins/sam/skin.css">
<link rel="stylesheet" type="text/css" href="/javascripts/inputex/css/inputEx.css">
<link rel="stylesheet" type="text/css" href="/javascripts/WireIt/plugins/editor/lib/accordionview/assets/skins/sam/accordionview.css">
<link rel="stylesheet" type="text/css" href="/javascripts/WireIt/assets/WireIt.css">
<link rel="stylesheet" type="text/css" href="/javascripts/WireIt/plugins/inputex/assets/extension.css">
<link rel="stylesheet" type="text/css" href="/javascripts/WireIt/plugins/editor/assets/WireItEditor.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/editor.css">

</head>

<body class="yui-skin-sam">

<div id="app" style="display: none;">

	<div id="top">
		<div class="logo"><a href="/">WebhookIt</a> editor</div>
		<div id="toolbar"></div>
		<div class="topright">
					<!--%- partial('login.ejs') %-->
		</div>
	</div>


	<div id="left">
	</div>
	
	<div id="right">
		<ul id="accordionView">
			<li>
				<h2>Properties</h2>
				<div>
					<div id="propertiesForm"></div>
				</div>
			</li>
			<li>
				<h2>Minimap</h2>
				<div style='position: relative;'>
					<div id="layerMap"></div>
				</div>
			</li>
			<li>
				<h2>Infos</h2>
				<div>
				  <div style="padding: 10px;">
	        		<p style="font-weight: bold;">Welcome to Webhookit !</p>
					
				  </div>
				</div>
			</li>
		</ul>
	</div>

	<div id="center">
	</div>


	<div id="bottom">
	</div>
	

	<div id="helpPanel">
	    <div class="hd"></div>
	    <div class="bd" style="text-align: left; padding: 20px;">
			<p style="font-weight: bold;">Welcome to Webhookit,</p>
			<p>All the documentation about webhookit is available at <a href="http://webhookit.com/docs">http://webhookit.com/docs</a>.</p>
			<ul>
				<li>Getting Started with the editor</li>
				<li>The API</li>
			</ul>
					
					
	    </div>
	</div>

</div>

<div id="appLoading">
	Loading the editor...
</div>

<!--[if IE]><script type="text/javascript" src="/javascripts/lib/excanvas.js"></script><![endif]-->

<script type="text/javascript" src="/javascripts/yui/utilities/utilities.js"></script>
<script type="text/javascript" src="/javascripts/yui/container/container-min.js"></script>
<script type="text/javascript" src="/javascripts/yui/button/button-min.js"></script>
<script type="text/javascript" src="/javascripts/yui/resize/resize-min.js"></script>
<script type="text/javascript" src="/javascripts/yui/json/json-min.js"></script>
<script type="text/javascript" src="/javascripts/yui/layout/layout-min.js"></script>
<!-- InputEx with wirable options (WirableField) -->
<script type="text/javascript" src="/javascripts/inputex/js/inputex.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/Field.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/plugins/inputex/js/WirableField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/Group.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/mixins/choice.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/Visus.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/StringField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/CombineField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/Textarea.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/SelectField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/IntegerField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/NumberField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/EmailField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/UrlField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/ListField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/CheckBox.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/InPlaceEdit.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/ColorField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/TypeField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/widgets/json-tree-inspector.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/plugins/inputex/js/fields.js"></script>
<!-- YUI-Accordion -->
<script type="text/javascript" src="/javascripts/WireIt/plugins/editor/lib/accordionview/accordionview-min.js"></script>
<!-- WireIt -->
<script type="text/javascript" src="/javascripts/WireIt/js/WireIt.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/CanvasElement.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/Wire.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/BezierWire.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/Terminal.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/TerminalProxy.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/Scissors.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/DD.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/DDResize.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/Container.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/Layer.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/plugins/inputex/js/FormContainer.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/plugins/inputex/js/TextareaContainer.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/LayerMap.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/plugins/editor/js/ModuleProxy.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/plugins/editor/js/BaseEditor.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/plugins/editor/js/WiringEditor.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/plugins/editor/js/adapters/ajax.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/js/ImageContainer.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/plugins/composable/js/ComposableWiringEditor.js"></script>
<script type="text/javascript" src="/javascripts/WireIt/plugins/composable/js/ComposedContainer.js"></script>

<!--Webhookit editor -->
<script type="text/javascript" src="/javascripts/webhookit/editor/webhookit.js"></script>
<script>
WireIt.ComposableWiringEditor.modules[0].category = "System";
WireIt.ComposableWiringEditor.modules[0].container.icon = "/images/icons/door_in.png";

WireIt.ComposableWiringEditor.modules[1].category = "System";
WireIt.ComposableWiringEditor.modules[1].container.icon = "/images/icons/door_out.png";

webhookit.language.modules =  <%- JSON.stringify(definitions) %>;
</script>
<script type="text/javascript" src="/javascripts/webhookit/editor/adapter.js"></script>
<script type="text/javascript" src="/javascripts/webhookit/editor/wiring_editor.js"></script>

<script>var username = <%- JSON.stringify(current_user.name) %>;</script>

</body>
</html>