
<div class="container">

  <div class="hero-unit">
    <h1>WebHookIt !</h1>
    <p>visual programming paradigm to create simple webservices, mashups, web application integrations, composability between webservices, event-driven web programming, ... in short program the web.</p>
    <p><a class="btn primary large" href="/doc">Learn more &raquo;</a></p>
  </div>

  <div class="row">
    <div class="span-one-third">
      <h2>100% JS</h2>
      <p>Using node.js, mongoDB, YUI, WireIt, inputEx. Webhookit is just plain javascript.</p>
      <p><a class="btn" href="/doc">View details &raquo;</a></p>
    </div>
    <div class="span-one-third">
      <h2>Runs everywhere</h2>
       <p>Very lightweight solution. </p>
      <p><a class="btn" href="/doc">View details &raquo;</a></p>
   </div>
    <div class="span-one-third">
      <h2>Open-source</h2>
      <p>Create custom modules. Get the code on Github. Released under MIT license.</p>
      <p><a class="btn" href="/doc">View details &raquo;</a></p>
    </div>
  </div>
  
</div>