
<h1>Import from Yahoo! Pipes</h1>

<p>Only PUBLISHED pipes are available !</p>


<form method="post">
	
	<input name="pipeId" value="59738c010bb144a36d54a1697aab7d0d" />
	
	<input type="submit" value="Import !">
	
</form>
