
<h1>What is SMD ?</h1>

<p><i>A Service Mapping Description (SMD) is a JSON representation describing web services. An SMD can defines the various aspects of a web service such that clients can coherently interact with the web services. An SMD can be used by generic tools to generate interfaces, human and programmatic, to access available web services. A wide array of web services can be described with SMD including REST services and JSON-RPC services. The SMD format is designed to be flexible, compact, simple, readable, and easily implemented.</i></p>

<p style="text-align: right; font-size: 80%">From the <a href="http://groups.google.com/group/json-schema/web/service-mapping-description-proposal">Service Mapping Description Proposal</a>.</p>

<h1>Import SMD</h1>

<p>Copy/Paste your JSON SMD below and click on the "Import !" button.</p>

<p>You can find some examples <a href="http://github.com/neyric/inputex/tree/master/tools/smd-tester/smd/" target="_new">here</a>.</p><br />

<form method="post">
	
	<textarea name="smd" cols="60" rows="15"></textarea><br />
	
	<input type="submit" value="Import !">
	
</form>
