
<h1>Import from Yahoo! Pipes</h1>

<p><b>Not working yet ! Pipes modules are not implemented...</b></p>
<br />
<p><b>Only PUBLISHED pipes are available !</b></p>
<br />

<form method="post">
	
	<input name="pipeId" value="59738c010bb144a36d54a1697aab7d0d" />
	
	<input type="submit" value="Import !">
	
</form>
