<% if( typeof search != "undefined") { %>
<h1>Wirings search '<%- search %>'</h1>
<% } else { %>
<h1>Wirings</h1>
<% } %>


<h2>Search</h2>
<form method="get">
	<input type="test" name="q" value="<%- typeof search == "undefined" ? "" : search %>" autofocus />
	<input type="submit" value="Search" />
	<% if( typeof search != "undefined") { %>
	  <a href="/wirings">clear</a>
	<% } %>
</form>

<br /><br />

<div id="wirings-list">

	<% if(wirings.length === 0) { %>
		
		  <% if( typeof search != "undefined") { %>
      	<p>No result for request '<%- search %>'</p>
    	<% } else { %>
				<p>You have no wirings yet, you can <a href="/editor">create a new one in the editor</a>.</p>
    	<% } %>
					
	<% } else { %>
		<%- partial('../partials/wiring', { collection: wirings }) %>	
	<% } %>
</div>
