
<div class="container">
  
  <h2>Sign Up</h2>

  <%- messages() %>

  <form action="/sessions/signup" method="post">

    <p>Username</p>
    <input type="string" name="username" placeholder="username" autofocus />

    <p>Email</p>
    <input type="string" name="email" placeholder="email" />

    <p>Password</p>
    <input type="password" name="pass"  placeholder="password" />

    <p>Password</p>
    <input type="password" name="pass2"  placeholder="password" />

    <br /><br />

    <input type="submit" value="Sign Up" class="btn primary" />

  </form>

  <p>Already have an account ? <a href="/sessions/signin" class="btn">Sign in !</a></p>

</div>