<div id="signin">
	<h2>Sign In</h2><br />
	
	<center>
	
	<%- messages() %>

	<form action="/sessions/signin" method="post">
	  <table>
	    <tr>
	      <td style="padding: 10px;">Username</td>
	      <td><input type="string" name="username" placeholder="username" autofocus /></td>
	    </tr>
	    <tr>
	      <td style="padding: 10px;">Password</td>
	      <td><input type="password" name="pass"  placeholder="password" /></td>
	    </tr>
	  </table>
		<br />
		<input type="submit" value="Sign In" />
	</form>

  </center>

  <br /><br /><hr />

	<p style="font-style: italic; text-align: center;">You don't have an account ? <a href="/sessions/signup">Create one !</a></p>
	
</div>
