<div id="signup">	
	<h2>Sign Up</h2><br />
	
	<center>

  <%- messages() %>
	
	<form action="/sessions/signup" method="post">
		
		<table>
	    <tr>
	      <td style="padding: 10px;">Username</td>
	      <td><input type="string" name="username" placeholder="username" autofocus /></td>
	    </tr>
	    <tr>
	      <td style="padding: 10px;">Email</td>
	      <td><input type="string" name="email" placeholder="email" /></td>
	    </tr>
	    <tr>
	      <td style="padding: 10px;">Password</td>
	      <td><input type="password" name="pass"  placeholder="password" /></td>
	    </tr>
	    <tr>
	      <td style="padding: 10px;">Password</td>
	      <td><input type="password" name="pass2"  placeholder="password" /></td>
	    </tr>
	  </table>
		
		<br />
		<input type="submit" value="Sign Up" />
		
	</form>
	
	
  </center>

  <br /><br /><hr />

	<p style="font-style: italic; text-align: center;">Already have an account ? <a href="/sessions/signin">Sign in !</a></p>
	
</div>