body { font-family: Arial, Verdana, sans-serif; margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 { font-weight:bold; }
h1 { font-size: 28px; margin-bottom: 20px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
a { text-decoration: none;}
a:hover { text-decoration: underline;}

#hd {
	background-color: #256188;
	color: white;
	position: relative;
	font-size: 90%;
	border-bottom: 1px solid #054168;
}
#hd h1 { padding: 10px 20px; margin: 0; }
#username {
	color: #AAA;
	position: absolute;
	top: 5px;
	right: 20px;
}

#nav { position: absolute;	bottom: 10px; right: 20px; }
#nav a {	color: white; font-weight: bold; }
#nav ul li { margin-left: 20px; float: left; }
#nav ul li a {	padding: 5px 10px; }
#nav ul li.current a { background-color: #153B5C; -webkit-border-radius: 5px;	-moz-border-radius: 5px; }

#bd { margin-top: 20px; }
div.pagewidth { width: 1000px; margin: auto; }

#messages {	margin: 10px auto; font-weight: bold; }
#messages ul.error {	color: red; }

#ft {	margin-top: 20px;	color: #ccc; }
#ft a { color: #777;	font-weight: bold; }
#copyright { margin-top:10px; }

/**
 * SIGN IN / SIGNUP
 */
#signup, #signin {
  width: 400px;
  margin: 50px auto;
  border: 3px solid black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 20px;
}
#signup input, #signin input {
  font-size: 20px;
  padding: 3px;
}

/**
 * DASHBOARD
 */
table.dashboard_table { width: 100%; }
table.dashboard_table td {	padding: 10px 40px 30px 0;	vertical-align: top;}
table.dashboard_table hr {	border: 3px solid #ddd; }

a.show_all {
	text-align: center;
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 5px 0;
	font-weight: bold;
	font-size: 90%;
	margin-top: 20px;
}
a.show_all:hover {
	background-color: #256188;
	color: white;
}

#new-wiring-button {
	float: right;
	padding: 5px 10px;
	border: 1px solid black;
	background-color: #24649A;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	color: white;
	font-weight: bold;
	font-size: 80%;
}

#new-wiring-button:hover {
	background-color: #4484BA;
}

div.dashboard-item {	padding: 10px 0;	border-bottom: 1px solid #ccc; }
div.dashboard-item a {	font-weight: bold; }
div.dashboard-item p {	color: #aaa; font-style: italic; }
div.dashboard-item div.timeago { float: right; font-size: 80%; color: #aaa; }


/* Code Mirror */
.CodeMirror-line-numbers { 
	width: 2.2em; 
	color: #aaa; 
	background-color: #eee; 
	text-align: right;
	padding-right: .3em;
	font-size: 10pt;
	font-family: monospace;
	padding-top: .4em;
}