
<%- partial('../partials/wiring', { collection: [wiring] }) %>	

<br /><br />
		
<h2>Edit Cron</h2>

<%- messages() %>

<form method="POST" action="/wirings/<%- wiring._id.toHexString() %>">

	<div>
		<input name="cron" value="<%- wiring.cron %>" id="cron" autofocus />
	</div>

	<br />

	<input type="submit" value="Save cron" name="cron_save" />

</form>	


<br /><br />

<p>Examples :</p>
<style>
#cronExamples td {
  padding: 5px;
}
</style>
<table id="cronExamples"> 
<tbody> 
<tr> 
<td>min</td> 
<td>hour</td> 
<td>day/month</td> 
<td>month</td> 
<td>day/week</td> 
<td> Execution        time</td> 
</tr>
<tr> 
<td>*/5</td> 
<td>*</td> 
<td>*</td> 
<td>*</td> 
<td>*</td> 
<td>Every 5 seconds</td> 
</tr>
<tr> 
<td>0</td> 
<td>*</td> 
<td>*</td> 
<td>*</td> 
<td>*</td> 
<td>Every hour</td> 
</tr>
<tr> 
<td>30</td> 
<td>0</td> 
<td>1</td> 
<td>1,6,12</td> 
<td>*</td> 
<td>00:30 Hrs  on 1st of Jan, June &amp; Dec.</td> 
</tr> 
<tr> 
<td></td> 
</tr> 
<tr> 
<td>0</td> 
<td>20</td> 
<td>*</td> 
<td>10</td> 
<td>1-5</td> 
<td>8.00 PM every weekday (Mon-Fri) only in Oct.</td> 
</tr> 
<tr> 
<td></td> 
</tr> 
<tr> 
<td>0</td> 
<td>0</td> 
<td>1,10,15</td> 
<td>*</td> 
<td>*</td> 
<td>midnight on 1st ,10th &amp; 15th of month</td> 
</tr> 
<tr> 
<td></td> 
</tr> 
<tr> 
<td>5,10</td> 
<td>0</td> 
<td>10</td> 
<td>*</td> 
<td>1</td> 
<td>At 12.05,12.10 every Monday &amp; on 10th of every month</td> 
</tr> 
</tbody> 
</table>