
<%- partial('../partials/wiring', { collection: [wiring] }) %>	

<h2>Run results</h2>

<br /><br />  

<h3>Parameters</h3>
<div id='params'></div>

<br />

<h3>Results</h3> 
<div id='results'></div>

<br /><br />
	 <!--p style="font-size: 80%;">Get the results as : <a href="run.json?<-%=request.query_string%->">json</a> <a href="run.xml?<!-%=request.query_string%->">xml</a><br />
		Copy this URL: <%- clippy( "http://webhookit.com", "#F5F5F5") %>	
	 </p-->


<p><small>This result page is shown because this wiring doesn't have any template associated.<br />
			You can <a href="edit-template">edit the template</a>.</small></p>


<script src="/javascripts/inputex/js/inputex.js"  type='text/javascript'></script>
<script src="/javascripts/inputex/js/widgets/json-tree-inspector.js"  type='text/javascript'></script>
<script>
YAHOO.util.Event.onDOMReady( function() {
	var JTI = inputEx.widget.JsonTreeInspector;
	new JTI('params', <%- JSON.stringify(params) %>);
	new JTI('results', <%- JSON.stringify(results) %>);
});
</script>
