<h2>Tools</h2>
<hr /><br />


<h3><img src="/images/icons/wrench.png"> <a href="/editor">Editor</a></h3>

<p>Create wirings</p>

<br /><br />

<!--h3><img src="/images/icons/wand.png"> <a href="/import-smd">Import SMD</a></h3>

<p>Generate wirings from a Service Mapping Description</p>

<br /><br /-->

<h3><img src="/images/icons/clock.png"> <a href="/cron">Cron</a></h3>

<p>See running cron jobs</p>

<br /><br />

<h3><img src="/images/icons/zoom.png"> <a href="/activities">Activities</a></h3>

<p>Inspect recent executions of your wirings</p>


<br /><br />

<h3><img src="/images/icons/package.png"> <a href="/packages">Packages</a></h3>

<p>Install modules from the community</p>


<!--br /><br />

<h3><img src="/images/icons/wand.png"> <a href="/import-ypipes">Import from Yahoo! Pipes</a> (NOT WORKING YET)</h3>

<p>Import modules from Yahoo! Pipes</p-->
