
<div class="userinfos">

	<%- gravatar(user.email, 48) %>
	
	<h2 style="margin-top: 0;"><a href="/users/<%- user.name %>"><%- user.name %></a></h2>
	<span style="font-size: 70%; color: #aaa;">Member since <%- user.created_at %></span>
		
</div>
