<div class="wiring dashboard-item">
  
	<div class="timeago">updated <%= timeago( new Date(Date.parse(wiring.updated_at)) ) %></div>
	
	<a href="/wirings/<%- wiring._id.toHexString() %>"><%- wiring.name %></a>
	<p>
	<% if(!!wiring.config && !!wiring.config.properties && wiring.config.properties.description) { %>
			<%= wiring.config.properties.description %>
	<% } else { %>
			No description yet
	<% } %>
	</p>
	
</div>